<section class="ciutats">
    <h1>Ciutats del Mon</h1>
    <br /><br /><br /><br /><br />
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Codi-Pais</th>
            <th>Districte</th>
            <th>Poblacio</th>
        </tr>
        @foreach(var el in Model)
        {
            <tr>
                <td>@el.id</td>
                <td>@el.name</td>
                <td>@el.countrycode</td>
                <td>@el.district</td>
                <td>@el.population</td>
                <td><button>Editar</button></td>
                <td><button>Editar</button></td>
            </tr>
        }
    </table>

    
</section>